@font-face {
    font-family: 'LeferiPoint-WhiteObliqueA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-WhiteObliqueA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiBaseType-RegularA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiBaseType-RegularA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-BlackA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LeferiPoint-SpecialItalicA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-SpecialItalicA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

/*메뉴*/

*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #222;
    cursor: url(../images/mouse_hover.png), auto;
}
ul {
    list-style: none;
}
body {
    font-family: 'LeferiBaseType-RegularA';
    font-size: 14px;
    line-height: 24px;
    color: #222;
    min-width: 1320px;
    cursor: url(../images/mouse.png), auto;
}

#header {
    position: fixed;
    /*=럴러티브*/
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: #222 solid 1px;
    z-index: 99;
    transition: all 0.7s;
}

#header:hover, .header_bg{
    background-color: #fff;
    border-bottom: none;
}

.in_header {
    width: 1320px;
    height: 125px;
    margin: 0 auto;
}

.logo {
    display: block;
    float: left;
    margin-top: 27px;
}

.nav {
    float: right;
}

.nav>li {
    float: left;
}

.nav>li>a {
    display: block;
    float: left;
    font-size: 18px;
    margin: 60px 70px 0px 170px;
}

/*메뉴 꾸미기*/

/*서브 메뉴*/
.sub {
    position: absolute;
    width: 100%;
    top: 125px;
    left: 0;
    background-color: #fff;
    display: none;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2) inset;
}

.sub div {
    width: 1320px;
    height: 400px;
    margin: 0 auto;
}

.sub div li {
    font-size: 16px;
    text-align: center;
}

.sub div li a {
    text-align: center;
    display: inline-block;
    padding: 40px 30px 30px 50px;
    box-sizing: border-box;
}

.sub ul {
    float: left;
}

.brand {
    margin-left: 360px;
}

.sub_menu {
    margin-left: 140px;
}

.community {
    margin-left: 150px;
}

/*서브 메뉴*/



/*서브메뉴 아이콘 꾸미기*/

/*브랜드 서브메뉴*/

.brand li:nth-child(1) {
    background: url(../images/sub_icon/introduce_icon.png) no-repeat 15px 25px;
}

.brand li:nth-child(2) {
    background: url(../images/sub_icon/bi_icon.png) no-repeat 10px 25px;
}

.brand li:nth-child(3) {
    background: url(../images/sub_icon/began_icon.png)no-repeat 10px 25px;
}

.brand li:nth-child(4) {
    background: url(../images/sub_icon/location_icon.png)no-repeat 8px 25px;
}

.sub_menu li:nth-child(1) {
    background: url(../images/sub_icon/brunch_icon.png)no-repeat 20px 31px;
}

.sub_menu li:nth-child(2) {
    background: url(../images/sub_icon/disert_icon.png)no-repeat 18px 32px;
}

.sub_menu li:nth-child(3) {
    background: url(../images/sub_icon/drink_icon.png)no-repeat 5px 25px;
}

.sub_menu li:nth-child(4) {
    background: url(../images/sub_icon/asac_life_icon.png)no-repeat 2px 25px;
}

.community li:nth-child(1) {
    background: url(../images/sub_icon/notice_icon.png)no-repeat 30px 28px;
}

.community li:nth-child(2) {
    background: url(../images/sub_icon/faq_icon.png)no-repeat 0px 25px;
}

.community li:nth-child(3) {
    background: url(../images/sub_icon/evet_icon.png)no-repeat 30px 25px;
}

/*메뉴 호버 효과주기*/

/*브랜드호버*/

.brand li:nth-child(1):hover {
    background: url(../images/sub_hover/introduce_hover.png)no-repeat no-repeat 15px 25px;
}

.brand li:nth-child(2):hover {
    background: url(../images/sub_hover/bi_hover.png)no-repeat 10px 25px;
}

.brand li:nth-child(3):hover {
    background: url(../images/sub_hover/began_hover.png)no-repeat 10px 25px;
}

.brand li:nth-child(4):hover {
    background: url(../images/sub_hover/location_hover.png)no-repeat 8px 25px;
}

/*메뉴호버*/

.sub_menu li:nth-child(1):hover {
    background: url(../images/sub_hover/brunch_hover.png)no-repeat 20px 31px;
}

.sub_menu li:nth-child(2):hover {
    background: url(../images/sub_hover/desert_hover.png)no-repeat 18px 32px;
}

.sub_menu li:nth-child(3):hover {
    background: url(../images/sub_hover/drink_hover.png)no-repeat 5px 25px;
}

.sub_menu li:nth-child(4):hover {
    background: url(../images/sub_hover/asac_life_hover.png)no-repeat 2px 25px;
}

.community li:nth-child(1):hover {
    background: url(../images/sub_hover/notice_hover.png)no-repeat 30px 28px;
}

.community li:nth-child(2):hover {
    background: url(../images/sub_hover/faq_hover.png)no-repeat 0px 25px;
}

.community li:nth-child(3):hover {
    background: url(../images/sub_hover/event_hover.png)no-repeat 30px 25px;
}


.header_sns {
    float: right;
}

.header_sns a {
    display: inline-block;
    padding: 50px 5px 0 0;

}

.header_sns a:hover {
    opacity: 0.5;
}

/* 서브 메뉴 페이지 메인 배너*/

#sub_menu{
    width: 100%;
}
.sub_menu_inner img{
    width: 100%;

}

/* 커뮤니티 작업 */

#commuity{
    width: 100%;
    background-color:#e6e6e6;
    background: url(../images/sub3/sub3_bg.png) no-repeat 50% 0;
   
}
.commuity_inner{
    width: 1320px;
    height: 600px;
    margin:  0 auto;
}
.commuity_inner h1{
    font-size: 30px;
    letter-spacing: 2px;
    padding-top: 240px;
    text-align: center;
}
.commuity_inner ul{
    overflow: hidden;
    width: 480px;
    margin: 0 auto;
    padding-top: 30px;
}
.commuity_inner ul li{
    float: left;
    text-align: center;   
    font-size: 13px;
    font-family: 'Pretendard-Regular';
}
.commuity_inner ul li:nth-child(1){
    border: 2px solid #aed291;
    padding: 5px 15px;
    border-radius: 30px;
    margin-left: 100px;
}
.commuity_inner ul li:nth-child(1):hover{
    border: 2px solid #aed291;
    background-color: #aed291;
    padding: 5px 15px;
    border-radius: 30px;
    margin-left: 100px;
}
.commuity_inner ul li:nth-child(2){
    border: 2px solid #fbf6ac;
    padding: 5px 25px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.commuity_inner ul li:nth-child(2):hover{
    border: 2px solid #fbf6ac;
    background-color: #fbf6ac;
    padding: 5px 25px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
}
.commuity_inner ul li:nth-child(3){
    border: 2px solid #f3d1c9;
    padding: 5px 18px;
    border-radius: 30px;
} 
.commuity_inner ul li:nth-child(3):hover{
    border: 2px solid #f3d1c9;
    background-color: #f3d1c9;
    padding: 5px 18px;
    border-radius: 30px;
}

#notice_proj{
    margin: 0 auto;
    width: 1000px;
    overflow: hidden;
}

/*테이블 태그*/

caption{text-align: center;
    width: 170px;
    height: 15px;
    margin: 200px auto;
    font-size: 30px;
    padding: 20px 20px;
    background-color: #aed291;
    border-radius: 60px;
    margin-bottom: 100px;
    font-weight: 600;
    color: #4b6050;
}
table{
    border-collapse: collapse;
    width: 100%;
}
.notice_top th{
    padding: 20px 0px;
    background-color: #aed291;
    font-size: 13px;
    border-bottom: none;
    box-sizing: border-box;
}
.notice_top th:nth-child(1){
    border-radius: 20px 0 0 0;
    text-align: center;
    width: 90px;
}
.notice_top th:nth-child(2){
    text-align: center;
    width: 1200px;
}
.notice_top th:nth-child(3){
    text-align: center;
    border-radius: 0px 20px 0px 0px;
    width: 90px;
}

td{
    padding: 15px;
    text-align: center;
    border-bottom: 2px solid #cccccc;
}
tr td:nth-child(2){
    text-align: left;
    padding-left: 50px;
}
tr:hover{
    background-color: #e4f0db;
}
/* 자주묻는질문 */
#faq_proj{
    width: 100%;
    margin: auto;
    height: 490px;
    padding-top: 200px;
}
.faq_h1{
    text-align: center;
    width: 170px;
    height: 15px;
    margin: 0px auto;
    font-size: 30px;
    padding: 20px 20px;
    background-color: #f7f0a0;
    border-radius: 60px;
    margin-bottom: 100px;
    color: #4b6050;
}
#board { 
	width:1000px; 
	margin: 0px auto; 
    overflow: hidden;
}
#board li{ 
	width:100%; 
}
#board li a{ 
    font-size: 15px;
	display:block;
    border-bottom: 2px solid #cccccc;
	padding: 20px 20px;  
	background: url(../images/sub3/icon/icon_01.png) no-repeat 95% 50%;
}
#board li:hover a{  
	font-weight:bold; 
	background-color: #f7f0a0;    
    
}
#board li.on a{
	font-weight:bold; 
	background-color: #f7f0a0;
	background: #f7f0a0 url(../images/sub3/icon/icon_01.png) no-repeat 95% 50%;
}
#board li:last-child a{
	border-top:0;
}
#board li div{ 
	width:100%; 
	border-top:0;
	padding: 25px 30px 25px 40px;
    box-sizing: border-box;
    overflow: hidden;
	display:none;
    color: #222;
    line-height: 1.8em;
    background-color: #f9f6d5;
}
/*답변 폰트 크기*/
.q p{
    font-size: 13px;
}

/* 이벤트 */

/* 탭메뉴 꾸미기 */
.tab_h1{
    text-align: center;
    width: 170px;
    height: 15px;
    margin: 100px auto;
    font-size: 30px;
    padding: 20px 20px;
    background-color: #f3d1c9;
    border-radius: 60px;
    margin-bottom: 70px;
    color: #4b6050;   
}
.tab{
    margin: 100px auto;
    width:1000px; 
    overflow: hidden;
  }
  .tabnav{
    width:1000px; 
    overflow: hidden;
    margin-bottom: 40px;
    margin-left: 380px;
  }
  .tabnav li{
    float: left;
  }
  .tabnav li a{ 
    display: block;
    padding: 20px 40px;
    font-size: 15px;
    position: relative;
    z-index: 2;
  }
  
  /* 탭메뉴 클릭했을 때 변화 꾸미기 */
  .tabnav li:nth-child(1) .active{
    border-bottom: 1px solid #fff;
    background: url(../images/sub3/event/icon_bg1.png)no-repeat no-repeat 64px 1em;
    padding-left: 50% 0;
  }
  .tabnav li:nth-child(2) .active{
    border-bottom: 1px solid #fff;
    padding-left: 50% 0;
    background: url(../images/sub3/event/icon_bg2.png)no-repeat no-repeat 58px 1em;
    
  }
  .tabnav li:nth-child(1) a:hover{
    background: url(../images/sub3/event/text_bg1.png) no-repeat;
    color: #222; 
  }
  .tabnav li:nth-child(2) a:hover{
    background: url(../images/sub3/event/text_bg2.png) no-repeat;
    color:#222; 
  }


  
  /* 탭컨테츠 꾸미기 */
  
#event_proj{
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 50px;
    margin-bottom: 100px;
}
.tabcontent{
    overflow: hidden;
    position: relative;
    top: -1px;
    padding-top: 40px;
}

.box1{
    margin-top: 30px;
    float: left;
    width: 480px;
    height: 300px;
}
.box1 div{
    width: 480px;
    height: 250px;
    overflow: hidden;   
    position: relative;
}
.box1 div img:nth-child(2){
    position: absolute;
    top: 250px;
    left: 0px;
    transition: all 1s;
}
.box1:hover div img:nth-child(2){
    top: 0;
}


.box2{
    margin-top: 30px;
    float: right;
    width: 480px;
    height: 300px;
}
.box2 div{
    width: 480px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.box2 div img:nth-child(2){
    position: absolute;
    top: 250px;
    left: 0px;
    transition: all 1s;
}
.box2:hover div img:nth-child(2){
    top: 0;
}

.box1 h3{
    margin-top: 10px;
}
.box2 h3{
    margin-top: 10px;
}
.box3 h3{
    margin-top: 10px;
}
.box4 h3{
    margin-top: 10px;
}
.box5 h3{
    margin-top: 10px;
}

.box3{
    float: left;
    margin-top: 20px;
    width: 480px;
    height: 300px;
}
.box3 div{
    width: 480px;
    height: 250px;
    overflow: hidden;
    position: relative;
}
.box3 div img:nth-child(2){
    position: absolute;
    top: 250px;
    left: 0px;
    transition: all 1s;
}
.box3:hover div img:nth-child(2){
    top: 0;
}

.box4{
    float: left;
    margin-top: 20px;
    width: 480px;
    height: 300px;
}
.box4 div{
    width: 480px;
    height: 250px;
    overflow: hidden;
    position: relative;    
}
.box4 div img:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 1s;
}
.box4:hover div img:nth-child(2){
    opacity: 1;
}

.box5{
    float: right;
    margin-top: 20px;
    width: 480px;
    height: 300px;
}
.box5 div{
    width: 480px;
    height: 250px;
    overflow: hidden;
    position: relative;    
}
.box5 div img:nth-child(2){
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    transition: opacity 1s;
}
.box5:hover div img:nth-child(2){
    opacity: 1;
}






/* 푸터 */

#footer{
    width: 100%;
    background: url(../images/footer/footer_bg.png)no-repeat 50% 0;
    overflow: hidden;
}

.footer_inner{
    width: 1320px;
    height: 300px;
    margin: 0 auto;
    padding-top: 300px;

}

.f_logo{
    display: block;
    float: left;
}
.footer_text{
    float: left;
    font-family: 'Pretendard-Regular';
    font-size: 12px;
    padding-left: 70px;
    letter-spacing: 2px;
}
.footer_text span{
    font-weight: 700;
    
}

.right_footer{
    padding: 10px;
    float: right;
    letter-spacing: 1px;
    background: url(../images/footer/footer_mail.png) no-repeat 0px 135px;
}
.right_footer h4{
    font-family: 'Pretendard-Regular';
    padding-right: 5px;
    font-size: 22px;
    margin-bottom: 5px;
    text-align: right;
}
.right_footer p{
    text-align: right;
}
.right_footer p a:hover{
    opacity: 0.5;
}

.right_footer p{
    font-size: 13px;
    font-family: 'Pretendard-Regular';
    padding: 10px;
    text-align: right;
}


.footer2{
    width: 100%;
    border-top: #222 solid 2px;
    padding: 50px;
    background-color: #e0f1f8;
}
.footer2 p{
    text-align: center;
    font-size: 13px;
    font-family: 'Pretendard-Regular';
}