*{margin:0; padding:0;}

/* 슬라이드배너 꾸미기 */
.gallery{
	width: 1320px;
	height:100%;
	margin: 0px auto; 
	padding: 0 60px 180px;
	box-sizing: border-box;
}
.gallery_inner{
	width: 100%; 
	overflow: hidden;
}

.gallery .swiper-slide a{
	width: 100%;
	height: 100%;
	position: relative;
}
.gallery .swiper-slide a span{
	display: inline-block;
	width: 100%; /*밑줄 길이*/
    height: 2px;
	background-color: #222;
	position: absolute;
	left: 0;
	bottom: 0;
	transform: scaleX(0); /*밑줄 길이 없애기*/
	transform-origin: left; /*밑줄 길이의 기준점을 왼쪽으로 두기*/
	transition: all 1s;
}	
.gallery .swiper-slide:hover a span{
	transform: scaleX(1);/*밑줄 길이 나타나게 만들기*/
}	  
.gallery .swiper-slide img{
	display: block;
	width: 100%;
	/*animation: ani8 1s linear infinite alternate;*/	
}



.gallery .swiper-slide:hover a img{
	
	animation: ani8 1s linear infinite alternate;
}

@keyframes ani8{
    0%{transform:translateY(0);}
    100%{transform:translateY(10px);}
}


/*이동버튼 영역*/
.gallery .swiper-button-next:after,
.gallery .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.gallery .swiper-button-next,
.gallery .swiper-button-prev{width:13px; height:25px;}/* 버튼 크기 */
.gallery .swiper-button-prev{left:0px; top: 81.5%; bottom: 0px; background:url(../images/best_menu/left_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery .swiper-button-next{right:0px; top:  81.5%; bottom: 0px; background:url(../images/best_menu/right_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery .swiper-button-prev:hover{background:url(../images/best_menu/left_button_hover.png);}/* 버튼 호버 이미지 */
.gallery .swiper-button-next:hover{background:url(../images/best_menu/right_button_hover.png);}/* 버튼 호버 이미지 */

/*블릿버튼 영역*/
.gallery .swiper-pagination-bullet{background:pink; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
.gallery .swiper-pagination-bullet-active{opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */
.gallery .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 0px;}/* 블릿버튼 위치 */

/*슬라이드모양*/
.gallery .swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
	top: 80%; bottom: auto;
	width: 1250px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background-color: #222;
}

/* 슬라이드배너 꾸미기 */


/*라이프스타일 갤러리*/
.gallery2{
	width: 514px;
	height:100%;
	position: absolute;
	right: -72px;
	margin: 0px auto;
	padding-top: 300px;
	box-sizing: border-box;
}
.gallery2 .swiper-slide a{
	width: 100%;
	height: 100%;
}			  
.gallery2 .swiper-slide img {
	display: block;
	width: auto;
	margin: auto;
}


/*.gallery2 .swiper-wrapper .swiper-slide:nth-child(3){
	padding-top: 200px;
}*/
.gallery2 .swiper-wrapper .swiper-slide:nth-child(5){
	padding-top: 50px;
}


/*라이프스타일 갤러리*/


/*인테리어*/
.gallery3{
	width: 464px;
	height:100%;
	position: absolute;
	left: 190px;
    padding-top: 105px;
	padding-right: 500px;
}
/*.gallery3 .swiper-slide{
	background-color: #fff;
}*/
.gallery3 .swiper-slide a{
	width: 100%;
	height: 100%;
}			  
.gallery3 .swiper-slide img {
	display: block;
	width: 100%;

}
.swiper-pagination-fraction{
	width: auto;
	left: 603px;
	bottom: 290px;
	font-size: 30px;
	font-family: 'LeferiBaseType-RegularA';
}
/*이동버튼 영역*/
.gallery3 .swiper-button-next:after,
.gallery3 .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.gallery3 .swiper-button-next,
.gallery3 .swiper-button-prev{width:13px; height:25px;}/* 버튼 크기 */
.gallery3 .swiper-button-prev{left: 573px; top: 61%; bottom: 0px; background:url(../images/best_menu/left_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery3 .swiper-button-next{right: 263px;
    top: 61%; bottom: 0px; background:url(../images/best_menu/right_button.png);}/* 버튼 위치, 버튼 이미지 */



/* 슬라이드배너 꾸미기 */
.gallery4{
	width: 1320px;
	height:100%;
	margin: 0px auto; 
	padding: 0 60px 180px;
	box-sizing: border-box;
}
.gallery_inner4{
	width: 100%; 
	overflow: hidden;
}
.gallery4 .swiper-slide a{
	width: 100%;
	height: 100%;
}			  
.gallery4 .swiper-slide img {
	display: block;
	width: 100%;	
}

/*이동버튼 영역*/
.gallery4 .swiper-button-next:after,
.gallery4 .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */


/*블릿버튼 영역*/
.gallery4 .swiper-pagination-bullet{background:pink; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
.gallery4 .swiper-pagination-bullet-active{opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */
.gallery4 .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 0px;}/* 블릿버튼 위치 */

/*슬라이드모양*/
.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
	top: 80%; bottom: auto;
	width: 1250px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background-color: #222;
}


.gallery5{
	width: 1320px;
	height:100%;
	margin: 0px auto; 
	padding: 0 60px 180px;
	box-sizing: border-box;
}
.gallery5_inner{
	width: 100%; 
	overflow: hidden;
}
.gallery5 .swiper-slide a{
	width: 100%;
	height: 100%;
}			  
.gallery5 .swiper-slide img {
	display: block;
	width: 100%;	
}

/*이동버튼 영역*/
.gallery5 .swiper-button-next:after,
.gallery5 .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.gallery5 .swiper-button-next,
.gallery5 .swiper-button-prev{width:15px; height:29px;}/* 버튼 크기 */
.gallery5 .swiper-button-prev{left:20px; top: 40%; bottom: 0px; background:url(../images/sub1/sub_item/left_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery5 .swiper-button-next{right:20px; top:  40%; bottom: 0px; background:url(../images/sub1/sub_item/right_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery5 .swiper-button-prev:hover{background:url(../images/sub1/sub_item/left_button_hover.png);}/* 버튼 호버 이미지 */
.gallery5 .swiper-button-next:hover{background:url(../images/sub1/sub_item/right_button_hover.png);}/* 버튼 호버 이미지 */

/*블릿버튼 영역*/
.gallery .swiper-pagination-bullet{background:pink; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
.gallery .swiper-pagination-bullet-active{opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */
.gallery .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 0px;}/* 블릿버튼 위치 */

/*슬라이드모양*/
.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
	top: 80%; bottom: auto;
	width: 1250px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background-color: #222;
}






/* 아삭 굿즈 꾸미기 */

.gallery6{
	width: 1320px;
	height:100%;
	margin: 0px auto; 
	padding: 0 60px 180px;
	box-sizing: border-box;
}
.gallery6_inner{
	width: 100%; 
	overflow: hidden;
}
.gallery6_inner h1{
	font-size: 36px;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 60px;
}
.gallery6_inner p{
	text-align: center;
	font-size: 16px;
}

.gallery6 .swiper-slide a{
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}
.gallery6 .swiper-slide a:hover{
	text-decoration: underline;
	font-weight: bold;
}	  
.gallery6 .swiper-slide img {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	/*animation: ani8 1s linear infinite alternate;*/	
}

/*@keyframes ani8{
    0%{transform:translateY(0);}
    100%{transform:translateY(10px);}
}*/
.gallery6 .swiper-slide img:hover{
	transform: scale(1.1);
	transition: transform 0.7s;
}

/*이동버튼 영역*/
.gallery6 .swiper-button-next:after,
.gallery6 .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.gallery6 .swiper-button-next,
.gallery6 .swiper-button-prev{width:13px; height:25px;}/* 버튼 크기 */
.gallery6 .swiper-button-prev{left:0px; top:780px; bottom: 0px; background:url(../images/sub1/goods/left_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery6 .swiper-button-next{right:0px; top: 780px; bottom: 0px; background:url(../images/sub1/goods/right_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery6 .swiper-button-prev:hover{background:url(../images/sub1/goods/left_button_hover.png);}/* 버튼 호버 이미지 */
.gallery6 .swiper-button-next:hover{background:url(../images/sub1/goods/right_button_hover.png);}/* 버튼 호버 이미지 */

/*블릿버튼 영역*/
.gallery6 .swiper-pagination-bullet{background:pink; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
.gallery6 .swiper-pagination-bullet-active{opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */
.gallery6 .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 0px;}/* 블릿버튼 위치 */

/*슬라이드모양*/
.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite{
	top: 84%; bottom: auto;
	width: 1250px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-pagination1-progressbar .swiper-pagination-progressbar-fill{
	background-color: #222;
}


/* 아삭 굿즈 꾸미기 */

.gallery7{
	width: 1320px;
	height:100%;
	margin: 0px auto; 
	padding: 0 60px 180px;
	box-sizing: border-box;
}
.gallery7_inner{
	width: 100%; 
	overflow: hidden;
}
.gallery7_inner h1{
	font-size: 36px;
	text-align: center;
	margin-top: 300px;
	margin-bottom: 60px;
}
.gallery7_inner p{
	text-align: center;
	font-size: 16px;
}

.gallery7 .swiper-slide a{
	width: 100%;
	height: 100%;
	margin-bottom: 30px;
}
.gallery7 .swiper-slide a:hover{
	text-decoration: underline;
	font-weight: bold;
}	  
.gallery7 .swiper-slide img {
	display: block;
	width: 100%;
	margin-bottom: 20px;
	/*animation: ani8 1s linear infinite alternate;*/	
}
.gallery7 .swiper-slide img:hover{
	transform: scale(1.1);
	transition: transform 0.7s;
}
/*@keyframes ani8{
    0%{transform:translateY(0);}
    100%{transform:translateY(10px);}
}*/

/*이동버튼 영역*/
.gallery7 .swiper-button-next:after,
.gallery7 .swiper-button-prev:after{display:none;}/* 소스에 들어있는 버튼 삭제 */
.gallery7 .swiper-button-next,
.gallery7 .swiper-button-prev{width:13px; height:25px;}/* 버튼 크기 */
.gallery7 .swiper-button-prev{left:0px; top:780px; bottom: 0px; background:url(../images/sub1/grocery/left_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery7 .swiper-button-next{right:0px; top:  780px; bottom: 0px; background:url(../images/sub1/grocery/right_button.png);}/* 버튼 위치, 버튼 이미지 */
.gallery7 .swiper-button-prev:hover{background:url(../images/sub1/grocery/left_button_hover.png);}/* 버튼 호버 이미지 */
.gallery7 .swiper-button-next:hover{background:url(../images/sub1/grocery/right_button_hover.png);}/* 버튼 호버 이미지 */

/*블릿버튼 영역*/
.gallery7 .swiper-pagination-bullet{background:pink; width:10px; height:10px; opacity:0.5;}/* 블릿버튼 크기, 색상, 투명도 */
.gallery7 .swiper-pagination-bullet-active{opacity:1;} /* 블릿버튼 페이지 표시날 때 투명도 */
.gallery7 .swiper-container-horizontal > .swiper-pagination-bullets{bottom: 0px;}/* 블릿버튼 위치 */

/*슬라이드모양*/
.gallery7 .swiper-container-horizontal > .swiper-pagination2-progressbar, .swiper-container-vertical > .swiper-pagination2-progressbar.swiper-pagination2-progressbar-opposite{
	top: 80%; bottom: auto;
	width: 1250px;
	height: 2px;
	left: 50%;
	transform: translateX(-50%);
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill{
	background-color: #222;
}

